.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.users-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 20px;
}

.user {
  background-color: azure;
  width: 20rem;
}

.users-page-selection {
  display: flex;
  justify-content: center;
  
}
